@import "../../../../External/commonStyle.module.scss";

.actionIcons {
  display: flex;
  gap: 10px;
  .EditIcon {
    color: var(--EditIconColor);
    font-size: var(--fontSizeMedium);
    cursor: pointer;
    font-weight: 600;
  }
  .ViewIcon {
    color: var(--ViewIconColor);
    font-size: var(--fontSizeMedium);
    cursor: pointer;
    font-weight: 600;
  }
  .DeleteIcon {
    color: var(--DeleteIconColor);
    font-size: var(--fontSizeMedium);
    cursor: pointer;
    font-weight: 600;
  }
}
