/* Stage data table design........................ */
.stageTable .categoryNameTag {
  font-size: 11px;
  color: var(--white);
  background-color: var(--darkGrey);
  padding: 2px;
  margin-top: 5px;
}
/* Dropdown styles.............. */
.approvalTypeStyle {
  margin-top: 10px;
}
.approvalTypeStyle .p-dropdown {
  width: 100%;
}
/* Persona styles............. */
.ms-Persona {
  padding: 0;
}
.ms-Persona-primaryText {
  font-size: var(--fontSizeSmall);
}

/* Button design............ */
.closeButton .pi {
  font-size: var(--fontSizeSmall);
}
