@import "../../../../External/commonStyle.module.scss";

.mainContainer {
  width: 100%;
  .profileHeader {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $liteGreyBackground;
    border-radius: $commonBorderRadius;

    padding: 10px;
    .profileTitle {
      display: block;
      h1 {
        font-size: $fontSizebig;
        color: $themeColor;
        margin: 0;
      }
      label {
        font-size: $fontSizeSmall;
        color: $liteThemeColor;
      }
    }
  }
  .headerTitle {
    display: flex;
    align-items: center;
    width: 100%;

    label {
      font-size: 17px;
      font-weight: 500;
      color: $black;
    }
  }
  .headerFilters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    .filtersBar {
      display: flex;
      gap: 2%;
      align-items: center;
      height: 100%;
    }
    .resetImgStyle {
      height: 100%;
      background-color: $themeColor;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
